body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.code {
    background:#000;
}
.code {
    color:#999;
}

h2 {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding:10px;
    margin-top:30px;
}
h3 {
    font-size:14px !important;
}

em {
    font-size:12px;
    color:#c20cb9;
}

.figure.center {
    text-align:left;
}
.figure img {
    max-width:700px;
}