body {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.code {
    background:#000;
}
.code {
    color:#999;
}

h2 {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding:10px;
    margin-top:30px;
}
h3 {
    font-size:14px !important;
}

em {
    font-size:12px;
    color:#c20cb9;
}
.item.part h1 {
    text-align:center;
    font-size:40px;
}

/* --- gherkin --- */
/*texte*/
div.code.gherkin { 
    color:#C5C8C6;
}
/*commentaire*/
div.code.gherkin .co1 { 
    color:#969896;
}
/*clef*/
div.code.gherkin .co3 { 
    color:#DE935F;
}
/*Exemples*/
div.code.gherkin .co4 { 
    color:#DE935F;
}
/*mot clef*/
div.code.gherkin .kw1 { 
    color:#81A2BE;
}
/*
vert    #B5BD68
orange  #DE935F
violet  #B294BB
bleu    #81A2BE
blanc   #C5C8C6
gris    #969896
jaune   #B5BD68
*/